.range-slider {
    position: relative;
    width: 300px;
    margin-left: calc(50% - 40%);
    height: 54px;
    float: left;
    text-align: center;
}

.range-slider input[type="range"] {
    -webkit-appearance: none;
    height: 20px;
    pointer-events: none;
    padding: 0;
    position: absolute;
    left: 0;
    top: 30px;
    height: 20px;
    width: 100%;
    border-radius: 14px;
    border: 1px solid grey;
    background: none;
}

.range-slider input[type="range"]:focus,
.range-slider input[type="range"]:active {
    outline: none;
}

.range-slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    box-sizing: content-box;
    width: 20px; /* Set to the desired thumb width */
    height: 20px; /* Set to the desired thumb height */
    border: none;
    pointer-events: auto;
    border-radius: 14px;
    background-color: green;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.range-slider input[type="range"]::-moz-range-thumb {
    width: 20px; /* Set to the desired thumb width */
    height: 20px; /* Set to the desired thumb height */
    border: none;
    pointer-events: auto;
    border-radius: 14px;
    background-color: green;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.range-slider input[type="range"]::-ms-thumb {
    width: 20px; /* Set to the desired thumb width */
    height: 20px; /* Set to the desired thumb height */
    border: none;
    pointer-events: auto;
    border-radius: 14px;
    background-color: green;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.range-slider input[type="range"]::-webkit-slider-runnable-track {
    /* your track styles */
}

.range-slider input[type="range"]::-moz-range-track {
    -moz-appearance: none;
    background: none;
}

.range-slider input[type="range"]::-ms-track {
    border-color: transparent;
    color: transparent;
    background: transparent;
    /* again your track styles */
}

.range-slider input[type="range"]::-ms-fill-upper {
    background: transparent;
}

.range-slider input[type="range"]::-ms-fill-lower {
    background: transparent;
}

.range-slider input[type="range"]::-ms-tooltip {
    display: none;
}
