.range-slider {
    position: relative;
    float: left;
    text-align: center;
}

.range-slider input[type="range"] {
    -webkit-appearance: none;
    height: 5px;
    pointer-events: none;
    padding: 0;
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    border-radius: 14px;
    border: 1px solid grey;
    background: linear-gradient(to right, #009dff, #a200ff);
    z-index: 1;
}

.range-slider input[type="range"]:focus,
.range-slider input[type="range"]:active {
    outline: none;
}

.range-slider input[type="range"].min::-webkit-slider-thumb,
.range-slider input[type="range"].max::-webkit-slider-thumb {
    -webkit-appearance: none;
    box-sizing: content-box;
    width: 0;
    height: 0;
    background-color: transparent;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    pointer-events: auto;
    position: relative;
    top: -12px;
    cursor: pointer;
    border-radius: 0;
}

.range-slider input[type="range"].min::-webkit-slider-thumb {
    border-top: 15px solid #79cbff;
}

.range-slider input[type="range"].min::-moz-range-thumb {
    border-top: 15px solid #79cbff;
}

.range-slider input[type="range"].min::-ms-thumb {
    border-top: 15px solid #79cbff;
}

.range-slider input[type="range"].max::-webkit-slider-thumb {
    border-top: 15px solid #c96cff;
}

.range-slider input[type="range"].max::-moz-range-thumb {
    border-top: 15px solid #c96cff;
}

.range-slider input[type="range"].max::-ms-thumb {
    border-top: 15px solid #c96cff;
}

.range-slider input[type="range"].targ::-webkit-slider-thumb {
    -webkit-appearance: none;
    box-sizing: content-box;
    width: 10px;
    height: 18px;
    border: none;
    pointer-events: auto;
    border-radius: 14px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    z-index: 3;
}

.range-slider input[type="range"].min::-moz-range-thumb,
.range-slider input[type="range"].max::-moz-range-thumb {
    width: 0;
    height: 0;
    background-color: transparent;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    pointer-events: auto;
    position: relative;
    top: -12px;
    cursor: pointer;
    border-radius: 0;
}

.range-slider input[type="range"].targ::-moz-range-thumb {
    width: 10px;
    height: 18px;
    border: none;
    pointer-events: auto;
    border-radius: 14px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    z-index: 3;
}

.range-slider input[type="range"].min::-ms-thumb,
.range-slider input[type="range"].max::-ms-thumb {
    width: 0;
    height: 0;
    background-color: transparent;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    pointer-events: auto;
    position: relative;
    top: -12px;
    cursor: pointer;
    border-radius: 0;
}

.range-slider input[type="range"].targ::-ms-thumb {
    width: 10px;
    height: 18px;
    border: none;
    pointer-events: auto;
    border-radius: 14px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    z-index: 3;
}

.range-slider input[type="range"]::-moz-range-track {
    -moz-appearance: none;
    background: none;
}

.range-slider input[type="range"]::-ms-track {
    border-color: transparent;
    color: transparent;
    background: transparent;
}

.range-slider input[type="range"]::-ms-fill-upper {
    background: transparent;
}

.range-slider input[type="range"]::-ms-fill-lower {
    background: transparent;
}

.range-slider input[type="range"]::-ms-tooltip {
    display: none;
}
