@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dark1: #1c1b2c;
    --dark2: #363455;
    --dark3: #2a2938;
    --dark4: #1c1b2c;
    --light: #dddcf2;
    --lightred: #fd9899;
}

body {
    margin: 0;
    color: var(--light);
    background-color: var(--dark4);
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.button1 {
    position: relative;
    overflow: hidden;
    height: 2.6rem;
    padding: 0 1.3rem;
    border-radius: 1.5rem;
    background: var(--dark1);
    background-size: 400%;
    color: var(--light);
    border: 1px solid var(--light);
}

.button1:hover::before {
    transform: scaleX(1);
}

.button1-content {
    position: relative;
    z-index: 1;
}

.button1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
        82.3deg,
        rgb(139, 61, 255) 10.8%,
        rgb(72, 59, 255) 94.3%
    );
    transition: all 0.475s;
}

.button2 {
    position: relative;
    overflow: hidden;
    height: 2rem;
    padding: 0 1.1rem;
    font-weight: 400;
    border-radius: 1.3rem;
    background: var(--dark2);
    border: 1px solid #dfa3ff;
    background-size: 400%;
}

.button2:hover::before {
    width: 200%;
    height: 200%;
    opacity: 1;
}

.button2-content {
    position: relative;
    z-index: 1;
}

.button2::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: rgba(225, 180, 255, 0.2);
    border-radius: 50%;
    opacity: 0;
    transition: width 0.3s ease-out, height 0.3s ease-out, opacity 0.3s ease-out;
}

.buttoncancel {
    background: var(--dark1);
    position: relative;
    padding: 0px 5px;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 300;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgb(255, 142, 142);
    border-radius: 30px;
    outline: none;
    overflow: hidden;
    color: rgb(255, 140, 140);
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
}

.buttoncancel span {
    margin: 2px;
}

.buttoncancel:hover {
    color: #fff;
    border: 1px solid rgb(255, 142, 142);
}

.buttoncancel:hover::before {
    box-shadow: inset 0 0 0 10em rgb(255, 150, 150);
}

.buttonselect {
    background: var(--dark1);
    position: relative;
    padding: 0 5px;
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 300;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgb(103, 255, 209);
    border-radius: 30px;
    outline: none;
    overflow: hidden;
    color: rgb(114, 255, 213);
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
}

.buttonselect span {
    margin: 2px;
}

.buttonselect:hover {
    color: #fff;
}

.buttonprev {
    background: var(--dark1);
    position: relative;
    padding: 0px 5px;
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 300;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgb(134, 187, 255);
    border-radius: 30px;
    outline: none;
    overflow: hidden;
    color: rgb(119, 178, 255);
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
}

.buttonprev span {
    margin: 2px;
}

.buttonprev:hover {
    color: #fff;
}

.grad {
    background: linear-gradient(45deg, #d89dff, #97b8fa);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.input {
    width: 280px;
    height: 40px;
    line-height: 28px;
    padding: 1rem;
    border: 1px solid var(--light);
    border-radius: 8px;
    outline: none;
    background-color: var(--dark3);
    transition: 0.3s ease;
}

.input:focus,
input:hover {
    outline: none;
    border-color: var(--light);
    background-color: var(--dark3);
    box-shadow: 0 0 0 3px #bc40ff95;
}

input[type="range"] {
    background: linear-gradient(
        to right,
        #009dff,
        #a200ff
    ); /* Adjust gradient colors */
    appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid white;
    background: #ffffff;
    cursor: pointer;
}

.hover {
    transition: border-color 0.3s ease-in-out;
}

.hover:hover {
    border-color: hsl(263, 100%, 81%);
}

.button3 {
    position: relative;
    overflow: hidden;
    height: 2rem;
    padding: 0 1.1rem;
    font-weight: 400;
    color: #f15b5b;
    border: 1px solid #f15b5b;
    border-radius: 1.3rem;
    background: var(--dark1);
    background-size: 400%;
}

.button3:hover::before {
    width: 200%;
    height: 200%;
    opacity: 1;
}

.button3-content {
    position: relative;
    z-index: 1;
}

.button3::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: rgba(255, 91, 91, 0.2);
    border-radius: 50%;
    opacity: 0;
    transition: width 0.3s ease-out, height 0.3s ease-out, opacity 0.3s ease-out;
}

.button4 {
    position: relative;
    overflow: hidden;
    height: 2rem;
    padding: 0 1.1rem;
    font-weight: 400;
    color: #7aa3fc;
    border: 1px solid #7aa3fc;
    border-radius: 1.3rem;
    background: var(--dark1);
    background-size: 400%;
}

.button4:hover::before {
    width: 200%;
    height: 200%;
    opacity: 1;
}

.button4-content {
    position: relative;
    z-index: 1;
}

.button4::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: rgba(112, 195, 255, 0.5);
    border-radius: 50%;
    opacity: 0;
    transition: width 0.3s ease-out, height 0.3s ease-out, opacity 0.3s ease-out;
}

.hfit {
    height: fit-content;
    padding: 0.2rem 1.1rem;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes scrolling {
    0%,
    100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-100%);
    }
}

/* @media screen and (max-width: 600px) {
    * {
        font-size: small;
    }
} */
